{{ define "title" }}
    Anime List
{{ end }}

{{ define "header" }}
<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/animes" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <span class="fs-4">Anicomend</span>
        </a>
        <ul class="nav nav-pills me-3">
            <li class="nav-item">
                <a href="/animes" class="nav-link">Animes</a>
            </li>
            <li class="nav-item">
                <a href="/preferences" class="nav-link">my prefs</a>
            </li>
            <li class="nav-item">
                <a href="/recomendations" class="nav-link">recomendations</a>
            </li>
            <li class="nav-item">
                <a href="/chat" class="nav-link active">ChatBot</a>
            </li>
        </ul>
        <form action="#" class="nav">
            <span class="input-group rounded">
                <input type="text" name="query" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" disabled />
                <button type="submit" class="btn btn-outline-secondary input-group-text border-0" id="search-addon">
                    <i class="fas fa-search"></i>
                </button>
            </span>
        </form>
    </header>
</div>
{{ end }}

{{ define "content" }}
<div class="container">
    <style>
        ::-webkit-scrollbar {
            width: 6px;
        }
        ::-webkit-scrollbar-track {
            border-radius: 3px;
        }
        ::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background-color: #abd;
        }
    </style>
    <div id="history" class="mb-3 p-3 rounded" style="background-color: #f4f4f4; height: 70vh; overflow-x: hidden; overflow-y: scroll">
        <!-- <div class="mb-2 p-2 d-inline-block" style="background: #fff; border-radius: 1em 1em 1em 0">
            This is AI ChatBot response.
        </div>
        <br />
        <div class="mb-2 p-2 d-inline-block bot-message">
            This is next AI ChatBot response.
        </div>
        <br />
        <div class="mb-2 p-2 d-inline-block user-message">
            This is your message. Possibly multiline. Possibly multiline. Possibly multiline. Possibly multiline. Possibly multiline. Possibly multiline.
        </div>
        </br /> -->
    </div>
    <form id="send-form" action="#" autocomplete="off">
        <div class="input-group rounded">
            <input id="message-box" class="form-control rounded" type="text" />
            <button class="btn btn-primary" type="submit"><i class="fas fa-level-up"></i></button>
        </div>
    </form>
</div>

<style>
.bot-message {
    background: #fff;
    border-radius: 1em 1em 1em 0;
}

.bot-error {
    background: #f7d4d4;
    color: red;
    border-radius: 1em 1em 1em 0;
}

.user-message {
    background: #ccddee;
    border-radius: 1em 1em 1em 0;
}
</style>

<script>
// interactive chat implementation here
var historyElem

addEventListener('load', async function() {
    historyElem = document.querySelector('#history')

    const messageBox = document.querySelector('#message-box')
    document.querySelector('#send-form').addEventListener('submit', sendMessage)
    function sendMessage(event) {
        event.preventDefault()
        if (messageBox.value == '')
            return
        addChatMessageToHistory(messageBox.value, true)
        askChatBot(messageBox.value)
        messageBox.value = ''
    }

    // load all history here
    const history = await fetch('/api/chat/history')
    historyElem.innerHTML = await history.text()
})

function addChatMessageToHistory(message, fromUser) {
    if (fromUser) {
        historyElem.innerHTML += `<div class="mb-2 p-2 d-inline-block user-message">${message}</div><br/>`
    } else {
        historyElem.innerHTML += `<div class="mb-2 p-2 d-inline-block bot-message">${message}</div><br/>`
    }

    historyElem.scrollTop = historyElem.scrollHeight;
}

async function askChatBot(message) {
    const resp = await fetch(`/api/chat?query=${encodeURI(message)}`)
    const text = await resp.text()

    historyElem.innerHTML += text.replaceAll('\n', '<br />')
}
</script>
{{ end }}
