{{ define "title" }}
    Anime List
{{ end }}

{{ define "header" }}
<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/animes" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <span class="fs-4">Anicomend</span>
        </a>
        <ul class="nav nav-pills me-3">
            <li class="nav-item">
                <a href="/animes" class="nav-link">Animes</a>
            </li>
            <li class="nav-item">
                <a href="/preferences" class="nav-link">my prefs</a>
            </li>
            <li class="nav-item">
                <a href="/recomendations" class="nav-link active">recomendations</a>
            </li>
            <li class="nav-item">
                <a href="/chat" class="nav-link">ChatBot</a>
            </li>
        </ul>
        <form action="#" class="nav">
            <span class="input-group rounded">
                <input type="text" name="query" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" disabled />
                <button type="submit" class="btn btn-outline-secondary input-group-text border-0" id="search-addon" disabled>
                    <i class="fas fa-search"></i>
                </button>
            </span>
        </form>
    </header>
</div>
{{ end }}

{{ define "content" }}
{{ template "filters-panel" .FilterParams }}
<div class="container">
    {{ if .NoPreferences }}
        <p>Please, select most prefered or least prefered animes to get recomendations!</p>
    {{ else }}
        <h2>Based on your preferences, you may also like:</h2>
        <div class="row mb-4">
            {{ range .Animes }}
                {{ template "anime card" . }}
            {{ end }}
        </div>
        <div class="d-flex justify-content-center">
            <nav aria-label="page navigation">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="?page={{ .FirstPage }}">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    {{ range .Pages }}
                        {{ if .Current }}
                            <li class="page-item active">
                                <a class="page-link" href="?page={{ .Index }}">
                                    {{ .Index }}
                                </a>
                            </li>
                        {{ else }}
                            <li class="page-item {{ if .Elipsised }} disabled {{ end }}">
                                <a class="page-link" href="?page={{ .Index }}">
                                    {{ .Index }}
                                </a>
                            </li>
                        {{ end }}
                    {{ end }}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ .LastPage }}">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    {{ end }}
</div>
{{ end }}
